.productDetail__ImageSmall{
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}
.productDetail{
    margin-left: 20px;
    line-height: 29px;
    &__name{
        font-size: 26px;
        font-weight: 500;
    }
    &__price{
        display: flex;
        align-items: baseline;
        &-new{
            font-size: 24px;
            font-weight: 500;
        }
        &-old{
             font-size: 24px;
        }
    }
    &__content3{
        margin-bottom: 15px;
    }
    &__content4{
        display: flex;
    }
    &__addcart{
        background-color: #E88697;
        font-size: 12px;
        padding: 10px;
        border: 1px solid #E88697;
        color: white;
        width: 286px;
    }
    &__buynow{
         padding: 10px;
         border: 1px solid #de1b57;
        width: 286px;
        color: #ffffff;
        transition: all 0.3s ease;
        background-color: #de1b57;
        &:hover{
            border: 1px solid #000000;
            background-color: #000000;
            color: #fff; 
        }
    }
   
    &__quantity{
        margin-bottom: 15px;
        display: flex;
        &--right{
            padding: 0px 5px;
            border: 1px solid #ebebeb;
            background-color: transparent;
        }
    }
}
.no-border-input {
  width: 15px;
  border: none;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none; 
  }
}
.no-border-button{
     border: none;
     background-color: #fff;
     margin: 5px 10px;
     
}
